/*-------------------------------------------------------------------*/
 /* styling for 2019 MACUL K-12 Summit presentation page
 /*------------------------------------------------------------------*/

body {
	color: black;
	background-color: transparent;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
}

.title {
  color: white;
  background-color: #115e6e;
  border: 1px solid #115e6e;
  padding-left: 6px;
}

.subtitle {
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 1em;
  margin-bottom: -0.7em;
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #115e6e;
   color: white;
   font-style: italic;
  padding: 4px;
}

.footer a:link {
  color: white;
}

.footer a:visited {
  color: white;
}

