/*-------------------------------------------------------------------*/
 /* styling for NZ to American vocabulary page                       */
 /*------------------------------------------------------------------*/
body {
	color: black;
	background-color: transparent;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
}

#status {
  display: none;
  font-size: 0.8em;
  font-style: italic;
  margin-left: 10px;
}

.demo-header {
  display: inline-block;
  font-size: 1.2em;
  font-weight: bold;
  color: white;
  background-color: #115e6e;
  border: 1px solid #115e6e;
  padding: 0.2em;  
  margin-bottom: 10px;
}

.card {
  border: 1px solid #aaa;
  display: inline-block;
  background-color: #ccc;
  width: 300px;
  margin-bottom: 10px;
}

.card-number {
  display: inline-block;
  font-size: 1.2em;
  margin-right: 8px;
}

.card-front {
}

.card-back {
  background-color: blue;
  color: white;
}

.card-title {
  font-size: 1.2em;
  font-weight: bold;
  font-style: italic;
}

.card-text {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 1.2em;
}

.card-button {
  font-size: 1.4em;
  margin-right: 8px;
}

.flip-button {
  font-size: 1.2em;
  margin-right: 20px;
}
